// custom variable values
$primary: #22c55e;   
$secondary: #0f172a;  
$light: #ffffff;

// import the functions & variables
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

// custom theme colours
$custom-theme-colors: (
  "altlight": #f0fdf4, 
  "altdark": #eab308   
);

// merge the maps to add new theme colors
$theme-colors: map-merge($theme-colors, $custom-theme-colors);

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";